
.textprimary{

  color:rgb(102, 150, 180);
}

.backgroundcolor{

  background-color: rgb(79, 135, 170);

}
.backgroundcolor {
  background-color: rgb(79, 135, 170);
}

.bg-primary {
  background-color: rgb(79, 135, 170);
}
